:root {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

html {
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("/Images/backgroundImg.png");
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    gap: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 94px;
    margin-top: 50px;
    margin-bottom: 30px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    max-height: 543px;
    overflow-y: scroll;
}

.wrapperGlobal {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    width: 100%;
    gap: 30px;
}

.wrapperParticipants {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapperPrincipal {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.imgAvatar {
    height: 50px;
    width: 50px;
}

.wrapperSecondary {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.entrerAdresse {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.adresse {
    border-radius: 20px;
    border: 2px solid #2A9D8F;
    padding: 2px 10px 2px 10px;
    width: 100%;
}

.reset {
    background-color: #2A9D8F;
    border: none;
    color: #FFFFFF;
    border-radius: 25px;
    font-size: 18px;
    right: 15px;
    z-index: 1;
}

.checkboxes {
    display: flex;
    justify-content: space-between;
}

.checkboxes input {
    display: none;
}

.Selected {
    display: none;
}

.boutonAjouter {
    background-color: #2A9D8F;
    border: none;
    color: #FFFFFF;
    font-size: 36px;
    text-align: center;
    width: 100%;
    border-radius: 25px;
    margin-top: 15px;
}

.btnSearch {
    background-color: #2A9D8F;
    border: none;
    border-radius: 100px;
    padding: 20px;
}

footer {
    text-align: center;
    padding-bottom: 15px;
}

/*
-----------------------------------------------------------------
*/

.modal {
    background-color: #FFFFFF;
    border-radius: 30px;
    width: 300px;
    height: 415px;
    position: absolute;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 15px;
    justify-content: space-around;
    z-index: 1000;
    display:none;
}

#ppAvatar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
}

.modal button {
    width: 151px;
    background-color: #2A9D8F;
    color: #FFFFFF;
    border: none;
    border-radius: 15px;
    height: 30px;
}

.backgroundModal {
    background: rgba(0, 0, 0, 0.525);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 999;
}